body {
  font-family: 'Courier New', Courier, monospace;
}

#bandeiras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bandeira {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  background-color: #d0d0d0;
}

.img-bandeira {
  height: 150px;
  width: auto;
  margin: 0 auto 5px;
}

.input-nome {
  min-width: 250px;
  padding: 10px;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
}